
*.xml
toonflix/.metadata
*.yaml
*.gradle
*.png
*.properties
*.xcconfig
*.xcworkspacedata
*.plist
*.xcscheme
*.xcsettings
*.json
*.swift
*.md
*.storyboard
*.txt
*.cc
*.h
*.cmake
*.pbxproj
*.entitlements
*.lock
*.xib
*.cpp
*.manifest
*.rc
*.ico
*.kt
